*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai{
    background-color: blue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filho{
    background-color: white;
}

.pai2{
    background-color: red;
    height: 100px;
    width: 300px;
    margin: 20px 0 0 50px;
    padding: 20px 0 0 50px;
}
.filho1{
    height: 50px;
    display: inline-block;
    background-color: pink;
}
.filho2{
    height: 60px;
    display: block;
    background-color: green;
}